<div class="flex justify-center mb-8">
  <div class="bg-slate-200/50 dark:bg-slate-800/50 p-1.5 rounded-2xl flex gap-1 backdrop-blur-sm">
    <button
      (click)="activeTab.set('books')"
      [class.bg-white]="activeTab() === 'books'"
      [class.dark:bg-slate-700]="activeTab() === 'books'"
      [class.shadow-md]="activeTab() === 'books'"
      class="px-8 py-2.5 rounded-xl text-sm font-bold transition-all duration-200 text-slate-600 dark:text-slate-300"
      [class.!text-blue-600]="activeTab() === 'books'"
    >
      <svg width="15" height="15" stroke-width="2" class="inline -mt-0.5 mr-1.5">
        <use href="#icon-book-open" />
      </svg>
      Бібліотека
    </button>

    <button
      (click)="activeTab.set('models')"
      [class.bg-white]="activeTab() === 'models'"
      [class.dark:bg-slate-700]="activeTab() === 'models'"
      [class.shadow-md]="activeTab() === 'models'"
      class="px-8 py-2.5 rounded-xl text-sm font-bold transition-all duration-200 text-slate-600 dark:text-slate-300"
      [class.!text-blue-600]="activeTab() === 'models'"
    >
      <svg width="15" height="15" stroke-width="2" class="inline -mt-0.5 mr-1.5">
        <use href="#icon-mic" />
      </svg>
      Голоси
    </button>
  </div>
</div>
